*.pyc
src/DocentIMS.ActionItems.egg-info/*
src/*/.DS_Store*
.DS_Store
*DS_Store
.DS_Store
src/.DS_Store
src/DocentIMS/ActionItems/browser/static/.DS_Store
src/DocentIMS/ActionItems/firstloggedin-kopi.py
